@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.hover{
  cursor:pointer;
}
.popup-menu{
  position:absolute;
  background: #ffdb7f;
  z-index:500;
  padding:2px;
  border:1px solid black;
  border-radius:3px;
  min-width:100px;
}
.popUp-menu__delete-item{
  border:none;
  cursor:pointer;
  background: #ffdb7f;
  color:blue;
  text-decoration:none;
  font-size:14px;
}
.add-btn__container{
  margin:10px;
}