@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "imageDownload.scss";

.hover{
  cursor:pointer;
}
.popup-menu{
  /*position:absolute;*/
  position:fixed;
  background: #ffdb7f;
  z-index:500;
  padding:2px;
  border:1px solid black;
  border-radius:3px;
  min-width:100px;
}
.popUp-menu__delete-item{
  border:none;
  cursor:pointer;
  background: #ffdb7f;
  color:blue;
  text-decoration:none;
  font-size:14px;
}
.add-btn__container{
  margin:10px;
}
.img-thumbnail{
  height:140px;
  width:140px;
}

.product-tn_image-container{
  height:250px;
  width:250px;
  position:relative;
  display: inline-block;
  margin:10px;
}

.product-tn_image{
  max-height:250px;
  max-width:250px;

}

.product-tn_image__close-sign{
  position:absolute;
  top:10px;
  right:10px;
  width:20px;
  height:20px;

}

.button-link{
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: #3d7086;
  padding-left: 0;
}
.button-link:hover{
  text-decoration: underline;
  color: #435486;
}
.button-link:active, .button-link:focus{

  outline: none !important;
}

.admin-category-menu__item-text, .admin-manufacturer-menu__item-text, .admin-user-menu__item-text{
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  width: 250px;
  text-align: center;
}

.admin-category-menu__item-text:hover, .admin-manufacturer-menu__item-text:hover, .admin-user-menu__item-text:hover{
  background-color: #c7254e;
}

.list{
  display:inline-block;
}
.list-manufacturers, .list-users{
  padding-left:0;
}

.list ul, .list li{
  list-style-type: none;
}
.flex-centered{
  display:flex!important;
}
.auto-margin{
  margin:auto;
}

.modal-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #3e4a3e;
  z-index: 1000;
  opacity: 0.98;
  top: 0;
  left: 0;
  display:flex;
}

.modal-background__content{
  margin: 200px auto auto;
  width: 400px;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #796268;
}
.modal-background__content-body{
  margin: 50px 0;

}
.modal-background__content-footer{
  display:flex;
  justify-content: space-around;
  margin:50px 0;
}
.comment_item{
  border-bottom: 1px solid black;
  margin: 20px 0;
  background-color: #a2988b;
  cursor:pointer;
  padding:10px;
}
.comment_item:last-of-type{
  border-bottom: none;
}
.publish-status{
  position: fixed!important;
  top:200px;
  min-width:400px;
}
.container{
  position:relative;
}
